// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.status {
	background-color:#F7F7F7;
	padding:15px;
}
.status p {
	margin:0;
}
.status:hover {
	background-color:#E0E0E0;
}
.admin {
	display:none;
}
.status:hover .admin {
	display:inline;
}